/*
 * Default params
 */
params.reads = "${projectDir}/data/reads/ENCSR000COQ1_1.fastq.gz"
params.transcriptome = "${projectDir}/data/aligned/genome_index.tar.gz"
params.outdir = "results"

/*
 * Defines resource allocation for different processes 
 */

process {
  // Default resources for lightweight tasks
  cpus = 1
  memory = 1.5.GB
  time = '1h'

  withName: 'FASTQC' {
    cpus = 1
    memory = 2.GB
    time = '30m'
  }

  withName: 'TRIM_GALORE' {
    cpus = 2
    memory = 4.GB
    time = '1h'
  }

  withName: 'HISAT2_ALIGN' {
    cpus = 4
    memory = 16.GB     
    time = '2h'
    queue = 'nf-queue-optimized'
  }
  
}

/*
 * Defines execution profiles for different environments
 */

profiles {
  'docker' {
    docker.enabled = true
  }

  'batch' {
    docker.enabled = true
    process.executor = 'awsbatch'
    process.queue = 'nf-queue'
    workDir = 's3://nextflow-for-rnaseq/test_env'
    aws.region = 'eu-west-1'
    aws.batch.cliPath = '/home/ec2-user/miniconda/bin/aws'
  }
}

