/*
 * Default params
 */
params.reads = "${projectDir}/data/reads/ENCSR000COQ1_1.fastq.gz"
params.transcriptome = "${projectDir}/data/aligned/genome_index.tar.gz"
params.outdir = "results"

/*
 * Defines resource allocation for different processes 
 */

process {
  cpus = 1
  memory = 2.GB
}

/*
 * Defines execution profiles for different environments
 */

profiles {
  'docker' {
    docker.enabled = true
  }

  'batch' {
    docker.enabled = true
    process.executor = 'awsbatch'
    process.queue = 'nf-queue'
    workDir = 's3://nextflow-for-rnaseq/test_env'
    aws.region = 'eu-west-1'
    aws.batch.cliPath = '/home/ec2-user/miniconda/bin/aws'
  }
}

